<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name %>!</h1>
    <br/>
    <p>
      Vous êtes inscrit à l'évènement suivant : <%= @event.name %>
    </p>
    <br/>
    <p>
      Pour vous connecter sur le site, cliquez sur le lien suivant : <%= link_to "Se connecter", @url %>.
    </p>
    <br/>

    <h3>A bientôt sur <i>Meet-Hop</i> !</h3>
  </body>
</html>
