<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue <%= @user.first_name %>!</h1>
    <br/>
    <p>
      Votre compte <i>Meet-Hop</i> a été créé avec succés avec l'e-mail suivant :  <%= @user.email %> sur notre site https://meet-hop-staging.herokuapp.com
    </p>
    <br/>
    <p>
      Pour vous connecter sur le site, cliquez sur le lien suivant : <%= link_to "Se connecter", @url %>.
    </p>
    <br/>

    <h3>Merci de nous avoir rejoint !</h3>
  </body>
</html>
