<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Une personne s'est inscrite à votre évènement <%= @event.promoter.first_name %>!</h1>
    <br/>
    <p>
      blabla bla blablabla bla ! Il s'agit de <%= @user.first_name %> !
    </p>
    <br/>
    <p>
      Pour vous connecter sur le site, cliquez sur le lien suivant : <%= link_to "Se connecter", @url %>.
    </p>
    <br/>

    <h3>Merci!</h3>
  </body>
</html>
