<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>L'évènement <%= @event.name %>auquel vous participez a été mise à jour! </h1>
    <br/>
    <p>
      Vous trouverez les informations concernant l'évènement <%= link_to "Event", @event_path %>!
    </p>
    <br/>
    <p>
      Pour vous connecter sur le site, cliquez sur le lien suivant : <%= link_to "Se connecter", @url %>.
    </p>
    <br/>

    <h3>Bonne journée!</h3>
    <br/>
    <h3>L'équipe <i>Meet-Hop</i>.</h3>
  </body>
</html>
<