<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Votre évènement à bien été créé <%= @event.promoter.first_name %>!</h1>
    <br/>
    <p>
      Vous avez créé l'évènement suivant, <%= @event.name %>, qui aura lieu le <%= @event.start_date %>.
    </p>
    <br/>
    <p>
      Pour vous connecter sur le site, cliquez sur le lien suivant : <%= link_to "Se connecter", @url %>.
    </p>
    <br/>

    <h3>Bonne journée!</h3>
    <br/>
    <h3>L'équipe <i>Meet-Hop</i>.</h3>   
  </body>
</html>
