<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Meet-Hop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    <!-- Font Awesome -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>



    <div class="viewport">
      <div class="image image-overlay image-blur" style="background-image:url(../../assets/images/demo/image-2.jpg)"></div>
      <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
          <div class="col-md-6 col-lg-4 text-white text-center">
            <h1 class="error-text">404</h1>
            <p>The page you were looking for wasn't found, if you think this might be a mistake <a href="" class="link">drop us a line</a></p>
          </div>
        </div>
      </div>
    </div>



    <script src="../../assets/js/vendor.js"></script>
    <script src="../../assets/js/app.js"></script>
  </body>
</html>