<h1>Registrations#create</h1>
<p>Find me in app/views/registrations/create.html.erb</p>

<p>Votre inscription a bien été prise en compte</p>
<p>Vous allez recevoir un email de comfirmation</p>

<%= link_to "Retour à l'évent", event_path(params[:event_id]), class: 'button' %>
