<article class="tile tile-long">
  <div class="tile-image" style="background-image: url(../../assets/images/demo/travel/travel-1.jpg)"></div>
  <a href="" class="tile-content">
    <div class="tile-header on-hover text-right">
      <h4 class="fs-30 text-white">$259</h4>
    </div>
    <div class="tile-footer">
      <span class="eyebrow">5 Day City Tour</span>
      <h3>California, USA</h3>
    </div>
  </a>
</article>