    <!-- cover -->
    <section class="p-0">
      <div class="swiper-container"
        data-top-top="transform: translateY(0px);" 
        data-top-bottom="transform: translateY(250px);">
        <div class="swiper-wrapper">
          <div class="swiper-slide vh-100">
            <div id = "img-cover" class="image image-overlay image-zoom"></div>
            <div class="caption">
              <div class="container">
                <div class="row justify-content-between vh-100">
                  <div class="col-lg-8 align-self-center text-white text-shadow" data-swiper-parallax="-100%">
                    <span class="eyebrow text-white mb-1">Design Rethinked</span>
                    <h1 class="display-2">Visual Design Conference</h1>
                    <a href="" class="btn btn-white btn-rounded px-5">Register</a>
                  </div>
                  <div class="col-lg-4 align-self-end">
                    <div class="row gutter-1">
                      <div class="col-6">
                        <div class="equal">
                          <div class="boxed">
                            <div class="equal-header">
                              <h4>Dec 18, 2018</h4>
                            </div>
                            <div class="equal-footer">
                              <span class="text-muted">when</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 text-white">
                        <div class="equal">
                          <div class="bordered">
                            <div class="equal-header">
                              <h4>San Francisco</h4>
                            </div>
                            <div class="equal-footer">
                              <span class="text-muted">where</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 text-white">
                        <div class="equal">
                          <div class="bordered">
                            <div class="equal-header">
                              <h4>120 Speakers</h4>
                            </div>
                            <div class="equal-footer">
                              <span class="text-muted">who</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-footer text-white">
            <div class="container-fluid">
              <div class="row">
                <div class="col text-center">
                  <div class="mouse"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / cover -->
