<!-- dance categories -->
<section class="separator-top" style = "padding: 2rem 0;">
<h2 style= "margin-bottom: 0; padding-left: 130px;"><i>Catégories présentes :</i></h2>
  <div class="container">
    <div class="row">
      <div class="col partners align-items-center">
        <div class="owl-carousel" data-items="[6,4,2]" data-loop="true" data-autoplay="true">
          <% @event.categories.each do |i| %>
            <div class="logo">
              <h2 class= "font_dance_category " id="dance_color<%= i.id %>"><%= i.name %> </h2>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</section>
<!-- / dance categories -->