<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profile</title>
    <link rel="stylesheet" href="../../assets/css/vendor.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121642637-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121642637-2');
    </script>

  </head>
  <body>


    <section class="p-0 bg-light">
                <div class="row gutter-1 mb-6">
      </div>
    </section>


    <section class="bg-light p-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-12 col-lg-8">
            <div class="nav nav-tabs mb-1">
              <a class="nav-item nav-link active" data-toggle="tab" href="#demo-2-1">Résumé</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-2">Liste des danseurs</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-3">Liste des spectateurs</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-4">Invités</a>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="bg-light pt-2">

      <div class="container">
        <div class="tab-content" id="demo-2">

          <!-- tab info -->
          <div class="tab-pane show active" id="demo-2-1" role="tabpanel" aria-labelledby="demo-2-1">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-8">
                
                <!-- stats -->
                <div class="row gutter-1 mb-2">
                  <div class="col-6 col-md-4 col-lg-3">
                    <div class="equal">
                      <div class="boxed bg-primary text-white">
                        <div class="equal-header">
                          <b class="h1"><%= @event_participed_dancer.length %></b>
                        </div>
                        <div class="equal-footer">
                          <span class="text-muted">Danseurs</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 col-lg-3">
                    <div class="equal">
                      <div class="boxed">
                        <div class="equal-header">
                          <b class="h1"><%= @event_participed_spectator.length %></b>
                        </div>
                        <div class="equal-footer">
                          <span class="text-muted">Spectateurs</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 col-lg-3">
                    <div class="equal">
                      <div class="boxed">
                        <div class="equal-header">
                          <b class="h1">2</b>
                        </div>
                        <div class="equal-footer">
                          <span class="text-muted">Invité</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 col-lg-3">
                    <div class="equal">
                      <div class="boxed">
                        <div class="equal-header">
                          <b class="h1"><%= @event_participed_dancer.length + @event_participed_spectator.length %></b>
                        </div>
                        <div class="equal-footer">
                          <span class="text-muted"> Participants</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- / stats -->


                <!-- Informations event -->
                <div class="row">
                  <div class="col">
                    <article class="card">
                      <div class="card-body overflow-hidden">
                        <blockquote class="blockquote">
                          <p class="mb-0">Notes</p>
                          <footer class="blockquote-footer">Compte a rebours ? </footer>
                        </blockquote>
                      </div>
                      <div class="card-footer">
                        <div class="row">
                         
                          <div class="col text-right">
                            <div class="dropdown">
                              <a class="btn btn-ico btn-outline-light text-dark rounded btn-sm" href="#" role="button" id="dropdownMenuLink-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-more-vertical fs-22"></i>
                              </a>

                              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-2">
                                <%= link_to 'Editer', edit_event_path(@event.id), class:"dropdown-item"%>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / information event -->


          <!-- tab danseurs -->
          
          <div class="tab-pane" id="demo-2-2" role="tabpanel" aria-labelledby="demo-2-2">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-8">
                <div class="row gutter-1">


                   <% @event_participed_dancer.each do |event| %>
            <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-5.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0"><% @event_participed_dancer.first_name %></h5>
                              <span class="text-muted"><% @event_participed_dancer.categories %></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>


                  <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-5.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0">Nicole Doe</h5>
                              <span class="text-muted">Senior UI Designer</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-5.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0">Nicole Doe</h5>
                              <span class="text-muted">Senior UI Designer</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-5.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0">Nicole Doe</h5>
                              <span class="text-muted">Senior UI Designer</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          
          <!-- tab danseurs -->

          <!-- tab spectateur -->
          <div class="tab-pane" id="demo-2-3" role="tabpanel" aria-labelledby="demo-2-3">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-8">
                <div class="row gutter-1">
                
               

                  <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-5.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0">INVITE</h5>
                              <span class="text-muted">Senior UI Designer</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                   <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-5.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0">Nicole Doe</h5>
                              <span class="text-muted">Senior UI Designer</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                   <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-5.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0">Nicole Doe</h5>
                              <span class="text-muted">Senior UI Designer</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
          <!-- / tab spectateur-->

          <!-- tab invité -->
          <div class="tab-pane" id="demo-2-4" role="tabpanel" aria-labelledby="demo-2-4">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-8">
                <div class="row gutter-1">

              
                  <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-5.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0">Nicole Doe</h5>
                              <span class="text-muted">Senior UI Designer</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-5.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0">Nicole Doe</h5>
                              <span class="text-muted">Senior UI Designer</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="boxed p-2">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-10">
                          <div class="media align-items-center">
                            <img src="../../assets/images/demo/user-5.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                            <div class="media-body">
                              <h5 class="mb-0">Nicole Doe</h5>
                              <span class="text-muted">Senior UI Designer</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / tab invité -->

        </div>
      </div>
    </section>




    <script src="../../assets/js/vendor.js"></script>
    <script src="../../assets/js/app.js"></script>
  </body>
</html>