   <section class="bg-dark text-white">
      <div class="container">
        <div class="row mb-3">
          <div class="col">
            <div class="nav nav-text">
              <a class="nav-item nav-link active" data-toggle="tab" href="#first">Infos</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#second">Tous les participants</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                <div class="accordion-group" data-accordion-group>
                  <div class="accordion" data-accordion>
                    <div class="accordion-control" data-control>
                      <span class="fw-25">Infos suplémentaire</span>
                      <h5>Règles</h5>
                      <div class="speakers text-right">
                        <ul class="user-list">
                          <li><img src="../../assets/images/demo/user-1.jpg" alt="" data-toggle="tooltip" data-placement="top" title="Valerie Doe"></li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion-content" data-content>
                      <div class="accordion-content-wrapper">
                        <p class="ml-lg-25 mr-lg-25">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion" data-accordion>
                    <div class="accordion-control" data-control>
                      <span class="fw-25">Organisateur</span>
                      <h5>Nom prénom</h5>
                      <div class="speakers text-right">
                        <ul class="user-list">
                          <li><img src="../../assets/images/demo/user-2.jpg" alt="" data-toggle="tooltip" data-placement="top" title="Valerie Doe"></li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion-content" data-content>
                      <div class="accordion-content-wrapper">
                        <p class="ml-lg-25 mr-lg-25">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="tab-pane" id="second" role="tabpanel" aria-labelledby="second-tab">
                <div class="accordion-group" data-accordion-group>
                  <div class="accordion" data-accordion>
                    <div class="accordion-control" data-control>
                      <span class="fw-25">8:00 - 9:00</span>
                      <h5>Registration</h5>
                    </div>
                    <div class="accordion-content" data-content>
                      <div class="accordion-content-wrapper">
                        <p class="ml-lg-25 mr-lg-25">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion" data-accordion>
                    <div class="accordion-control" data-control>
                      <span class="fw-25">9:00 - 10:30</span>
                      <h5>Opening words from our headliner</h5>
                      <div class="speakers text-right">
                        <ul class="user-list">
                          <li><img src="../../assets/images/demo/user-7.jpg" alt="" data-toggle="tooltip" data-placement="top" title="Valerie Doe"></li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion-content" data-content>
                      <div class="accordion-content-wrapper">
                        <p class="ml-lg-25 mr-lg-25">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quam odit voluptatum, rem libero modi labore porro commodi inventore architecto explicabo reiciendis, perspiciatis voluptatibus odio, sequi nobis? Optio, aperiam, tenetur!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / schedule -->