      <div class="container">
        <div class="row">
          <div class="col">
            <div class="nav nav-tabs">
              <a class="nav-item nav-link active" data-filter="all">All</a>
              <a class="nav-item nav-link" data-filter="branding">Branding</a>
              <a class="nav-item nav-link" data-filter="illustration">Illustration</a>
              <a class="nav-item nav-link" data-filter="photography">Photography</a>
            </div>
          </div>
        </div>
      </div>