<div class="container mt-3">
  <h1 class="" style="margin-top: 30px; border-width: 2px; border-style: solid; border-color: #1C6EA4">Derniers événements ajoutés</h1>
  <div class="row">
<!-- here are the lastest events -->
<%= render 'events/latest_events'%>
</div>
<%= render 'events/card_event'%>



</div>
