<div class="container">
  	<div class="row">
		<div class="col-md-6" style="border-width: 2px; border-style: solid; border-color: #1C6EA4;">

			<h2 class="h1 mb-3 font-weight-normal text-center">ICI LA CREATION D'UN NOUVEAU event !</h2>

		    <%= render 'events/event_form'%>

		</div>
</div>
