html, body {
  height: 100vh;
}

body {
  min-height: 100vh;
  margin-top: 65px;
  margin-bottom: 40px;
  flex-grow: 1;
}

.footer-absolute {
  width: 100%;
  display: block;
}

.no-margin-no-padding {
  margin: 0;
  padding: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.alert-row {
  position: fixed;
  top: 100px;
  right: 40px;
  z-index: 2;
  width: 300px;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
