<h2>Bonjour <%= @resource.email %>!</h2>
<br/>

<p>Nous vous contactons pour vous notifier d'un changement de mot de passe lié à votre <i>Meet-Hop</i>.</p>
<br/>

<h3>A bientôt sur <i>Meet-Hop</i> !</h3>
