<h2>Bonjour <%= @resource.email %>!</h2>
<br/>
<p>Quelqu'un a demander à changer votre mot de passe. Vous pouvez le changer en cliquant sur le lien ce dessous :</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
<br/>

<p>Si vous n'avez pas demandé à changer d'email, ignorez cet email.</p>
<p>Votre mot de passe restera le même tant que vous ne cliquez pas sur le lien ci-dessous et n'en créez un nouveau.</p>
<br/>

<h3>A bientôt sur <i>Meet-Hop</i> !</h3>
