/* line 1, /Users/iannisbretin/Desktop/thp/semaine10/Meet-hop/app/assets/stylesheets/application.scss */
html, body {
  height: 100vh;
}

/* line 5, /Users/iannisbretin/Desktop/thp/semaine10/Meet-hop/app/assets/stylesheets/application.scss */
body {
  min-height: 100vh;
  margin-top: 65px;
  margin-bottom: 40px;
  flex-grow: 1;
}

/* line 12, /Users/iannisbretin/Desktop/thp/semaine10/Meet-hop/app/assets/stylesheets/application.scss */
.footer-absolute {
  width: 100%;
  display: block;
}

/* line 17, /Users/iannisbretin/Desktop/thp/semaine10/Meet-hop/app/assets/stylesheets/application.scss */
.no-margin-no-padding {
  margin: 0;
  padding: 0;
}

/* line 22, /Users/iannisbretin/Desktop/thp/semaine10/Meet-hop/app/assets/stylesheets/application.scss */
.mb-30 {
  margin-bottom: 30px;
}

/* line 26, /Users/iannisbretin/Desktop/thp/semaine10/Meet-hop/app/assets/stylesheets/application.scss */
.alert-row {
  position: fixed;
  top: 100px;
  right: 40px;
  z-index: 2;
  width: 300px;
}

/* line 34, /Users/iannisbretin/Desktop/thp/semaine10/Meet-hop/app/assets/stylesheets/application.scss */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

/* line 41, /Users/iannisbretin/Desktop/thp/semaine10/Meet-hop/app/assets/stylesheets/application.scss */
.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

/* line 48, /Users/iannisbretin/Desktop/thp/semaine10/Meet-hop/app/assets/stylesheets/application.scss */
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

/* line 55, /Users/iannisbretin/Desktop/thp/semaine10/Meet-hop/app/assets/stylesheets/application.scss */
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
