<h1>cette page a été modifiée connard</h1>
<h1>voila pourquoi je voulais faire une redirection max, niveau ux c'est nul, je préférerais un bon msg qui redirige sur le show event ou su la ligne du dashboard</h1>
<h2>Merci votre paiement de <strong><%= @amount %> </strong> a été accepté!</h2>
