<div class="alert-row">
  <div>

    <% flash.each do |key, value| %>
    <div class='alert alert-<%= key %> text-left' style="margin: 0;">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <ul style="list-style: none; padding: 0; margin: 0;">
        <li>
          <%= value %>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
</div>
